* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: #333;
}
body .container {
  width: 100%;
  max-width: 1990px;
  margin: 0 auto;
}
body nav {
  background-color: #333;
}
body nav ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
body nav ul li {
  float: left;
}
body nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: all 0.5s;
}
body nav ul li a:hover {
  background-color: #555;
}
body nav ul li a:active {
  background-color: #a2c346;
}
body header {
  text-align: center;
  padding: 40px;
  background-color: #007bff;
  color: #fff;
}
body header p {
  margin-top: 25px;
}
body .iframe-section {
  padding: 20px;
  text-align: center;
}
body .iframe-section h2 {
  margin-top: 10px;
}
body .iframe-section p {
  margin-top: 20px;
  margin-bottom: 10px;
}
body .iframe-section iframe {
  width: 80%;
  max-width: 800px;
  height: 400px;
  border: 3px solid #007bff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body .color-section {
  padding: 20px;
  text-align: center;
}
body .color-section .color-box {
  padding: 20px;
  color: white;
  margin: 10px auto;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body .color-section .rgb {
  background-color: rgb(70, 130, 180);
}
body .color-section .rgba {
  background-color: rgba(70, 130, 180, 0.7);
}
body .color-section .hex {
  background-color: #4682b4;
}
body footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
body .burger {
  display: none;
}
body input[type=checkbox] {
  display: none;
}
body .sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 9999;
  transform: translateX(-100%);
  background-color: gray;
  align-items: center;
  transition: all 1s;
}
body .sidebar-top {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  justify-content: space-between;
  padding-top: 20px;
}
@media (max-width: 426px) {
  body nav {
    display: none;
  }
  body .sidebar {
    display: block;
  }
  body nav {
    display: none;
  }
  body .sidebar {
    display: block;
  }
  body .sidebar ul {
    text-align: center;
  }
  body .sidebar ul li a {
    color: white;
    text-decoration: none;
    line-height: 50px;
  }
  body .sidebar ul li a:hover {
    color: #007bff;
  }
  body .sidebar ul li a:active {
    color: #4682b4;
  }
  body .burger {
    display: block !important;
    margin: 0 auto;
  }
  body input[type=checkbox]:checked + .sidebar {
    transform: translateX(0);
  }
  body .fa-solid {
    color: #007bff !important;
  }
  body .fa-x {
    position: relative;
    color: #007bff;
    margin-left: 380px;
  }
  body .fa-bars {
    position: relative;
    color: #007bff;
    margin-left: 370px;
  }
}
@media (max-width: 376px) {
  body .fa-x {
    position: relative;
    margin-left: 300px;
  }
  body .fa-bars {
    margin-left: 300px !important;
  }
}
@media (max-width: 320px) {
  body .fa-x {
    position: relative;
    color: #007bff;
    margin-left: 220px;
  }
  body .fa-bars {
    position: relative;
    color: #007bff;
    margin-left: 220px !important;
  }
}/*# sourceMappingURL=iframe.css.map */