* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body .container {
  width: 100%;
  max-width: 1990px;
  margin: 0 auto;
}
body nav {
  background-color: #333;
}
body nav ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
body nav ul li {
  float: left;
}
body nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: all 0.5s;
}
body nav ul li a:hover {
  background-color: #555;
}
body nav ul li a:active {
  background-color: #a2c346;
}
body header {
  text-align: center;
  padding: 40px;
  background-color: #007bff;
  color: #fff;
}
body header p {
  margin-top: 25px;
}
body .gallery {
  width: 100%;
  padding: 20px;
  text-align: center;
}
body .gallery h2 {
  margin: 20px;
  color: #333;
}
body .gallery__text {
  margin: 16px;
}
body .sec__img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
body .figur {
  max-width: 30%;
  margin: 10px;
}
body .images {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
body .figur__text {
  margin-top: 10px;
  font-size: 1.1em;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 16px;
}

.burger {
  display: none;
}

input[type=checkbox] {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 9999;
  transform: translateX(-100%);
  background-color: gray;
  align-items: center;
  transition: all 1s;
}

.sidebar-top {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  justify-content: space-between;
  padding-top: 20px;
}

@media (max-width: 1405px) {
  .sec__img {
    flex-wrap: wrap;
  }
}
@media (max-width: 1405px) and (max-width: 426px) {
  nav {
    display: none;
  }
  .sidebar {
    display: block;
  }
  nav {
    display: none;
  }
  .sidebar {
    display: block;
  }
  .sidebar ul {
    text-align: center;
  }
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    line-height: 50px;
  }
  .sidebar ul li a:hover {
    color: #007bff;
  }
  .sidebar ul li a:active {
    color: #4682b4;
  }
  .burger {
    display: block !important;
    margin: 0 auto;
  }
  input[type=checkbox]:checked + .sidebar {
    transform: translateX(0);
  }
  .fa-solid {
    color: #007bff !important;
  }
  .fa-x {
    position: relative;
    color: #007bff;
    margin-left: 380px;
  }
  .fa-bars {
    position: relative;
    color: #007bff;
    margin-left: 370px;
  }
}
@media (max-width: 1405px) and (max-width: 376px) {
  .fa-x {
    position: relative;
    margin-left: 300px;
  }
  .fa-bars {
    margin-left: 300px !important;
  }
}
@media (max-width: 1405px) and (max-width: 320px) {
  .fa-x {
    position: relative;
    color: #007bff;
    margin-left: 220px;
  }
  .fa-bars {
    position: relative;
    color: #007bff;
    margin-left: 220px !important;
  }
}/*# sourceMappingURL=main.css.map */