// @import "iframe.scss";
// @import "media.scss";
@import "variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    .container{
        width: 100%;
        max-width: 1990px;
        margin: 0 auto;
    }

    nav {
        background-color: $main-bg-color;
        ul {
            list-style-type: none;
            overflow: hidden;
            padding: 0;
            margin: 0;
            li {
                float: left;
                a {
                    display: block;
                    color: $text-color;
                    text-align: center;
                    padding: 14px 20px;
                    text-decoration: none;
                    transition: all .5s;
                    &:hover{
                        background-color: $hover-color;
                    }
                    &:active{
                        background-color: $active-color;
                    }
                }
            }
        }
    }

    header{
        text-align: center;
        padding: 40px;
        background-color: $head-bg-color;
        color: $text-color;
        p{
            margin-top: 25px;
        }
    }
}
