// @import "iframe.scss";
// @import "media.scss";
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    .container{
        width: 100%;
        max-width: 1990px;
        margin: 0 auto;
    }

    nav {
        background-color: $main-bg-color;
        ul {
            list-style-type: none;
            overflow: hidden;
            padding: 0;
            margin: 0;
            li {
                float: left;
                a {
                    display: block;
                    color: $text-color;
                    text-align: center;
                    padding: 14px 20px;
                    text-decoration: none;
                    transition: all .5s;
                    &:hover{
                        background-color: $hover-color;
                    }
                    &:active{
                        background-color: $active-color;
                    }
                }
            }
        }
    }

    header{
        text-align: center;
        padding: 40px;
        background-color: $head-bg-color;
        color: $text-color;
        p{
            margin-top: 25px;
        }
    }
    main{
        .container{
            .main-content{
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               gap: 10px;
               padding-block: 20px;
               .audio{
                width: 500px;
               }
             }
            .video{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                padding-block: 20px;
                .videoo{
                    width: 300px;

                }
            }
        }
    }
    footer{
        .container{
            .ftr{
                background-color: grey;
                text-align: center;
                padding: 20px;
                position: fixed;
                bottom: 0;
                width: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        main{
            .container{
                .main-content{
                    width: 
                    400px;
                    padding-left: 20px;
                    margin: 0 auto;
                    
                        .audio{
                            width: 350px;
                        }
                }
                .video{
                    width: 400px;
                    padding-left: 20px;
                    margin: 0 auto;
                    .videoo{
                        width: 250px;
                    }
                }
            }
        }
    }

    .burger{
        display: none;
    }
    
    input[type="checkbox"] {
      display: none;
    }
    
    .sidebar {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 0;
      width: 100vw;
      height: 100vh;
      top: 0;
      z-index: 9999;
      transform: translateX(-100%);
      background-color: gray;
      align-items: center;
      transition: all 1s;
    }
    
    .sidebar-top {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      justify-content: space-between;
      padding-top: 20px;
    }
    
    @media (max-width: 426px) {
        nav{
            display: none;
        }
        .sidebar{
            display: block;
        }
        nav{
            display: none;
        }
        .sidebar{
            display: block;

            ul{
                text-align: center;
                li{
                    a{
                        color: white;
                        text-decoration: none;
                        line-height: 50px;
                        &:hover{
                            color: #007bff;
                        }
                        &:active{
                            color: #4682b4;
                        }
                    }
                }
            }
        }
        .burger{
            display: block !important;
            margin: 0 auto;
        }
        input[type="checkbox"]:checked + .sidebar {
            transform: translateX(0);
        }

        .fa-solid{
            color: #007bff !important;
        }
        .fa-x{
            position: relative;
            color: #007bff;
            margin-left: 380px;
        }
        .fa-bars{
            position: relative;
            color: #007bff;
            margin-left: 370px;
        }
    }
    @media (max-width: 376px) {
        .fa-x{
            position: relative;
            margin-left: 300px;
        }
        .fa-bars{
            margin-left: 300px !important;
        }
    }
    @media (max-width: 320px) {
        .fa-x{
            position: relative;
            color: #007bff;
            margin-left: 220px;
        }
        .fa-bars{
            position: relative;
            color: #007bff;
            margin-left: 220px !important;
        }
    }
}   